
// Colors
$blue: #1875f0;
$dark-blue: #2d315e;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #f5608e;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #4fdee1;
$light-cyan: #97e5e5;
$dark-cyan: #26d0c9;
$grey: #e4e4e4;
$white: #ffffff;
$light-purple: #edeeff;
$purple: #ccceff;
$o-green: #3dbcb7;
$purple-strong: #5c48ff;
$purple-mid: #6093fe;
